<header id="content-header">
  <h1>Registrations for <%= link_to(@event.name, @event) %></h1>
</header>

<ol id="registrations">
  <% @registrations.each do |registration| %>
    <li>
      <%= profile_image_for(registration.user, size: 35) %>
      <%# <%= mail_to(registration.email, registration.name) %> 
      <%= link_to registration.user.name, registration.user %>
      <span class="date">
        <%= time_ago_in_words(registration.created_at) %> ago
      </span>
      (<%= registration.how_heard %>)
    </li>
    <%= link_to 'Edit', edit_event_registration_path(@event, registration), class: 'button' %>
    <%= link_to 'Delete', event_registration_path(@event, registration),
                    class: 'button',
                    method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</ol>