<h1>Add</h1>

<%= form_for(@category) do |f| %>

<%= render 'shared/errors', object: @category %>
  <fieldset>
    <p class="required">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </p>
    <p>
      <%= f.submit %>
      <%= link_to "Cancel", events_path, class: 'button' %>
    </p>
  </fieldset>
<% end %>